@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-red: #F03C42;
    --color-blue: #222374;
    --color-grey: #CCCCCC;
    --color-black: #000000;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 18px;
    color: var(--color-white);
    flex-direction: column;
    justify-content: center;
}

.instagram-header img {
    width: 30px;
}

.instagram-header a {
    font-size: 14px;
    color: var(--color-white);
    padding-left: 10px;
}

#fitness-space {
    background-color: var(--color-blue);
    height: 418px;
}

#fitness-space h2 {
    color: var(--color-white);
    padding: 20px 0;
    font-size: 32px;
}

.space-card {
    background-color: var(--color-grey);
    height: 128px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
       
}

.space-card h3 {
    color: var(--color-black);
    font-size: 20px;
}

.space-card p {
    color: var(--color-black);
    font-size: 14px;
}